body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.store-front {
    width: 500px;
    margin: 100px 0 100px 100px;
}

.nav-bar, .website-intro, .menu-items, .testimonials, .sign-up, .footer {  
    padding: 0 200px;
}

/* Header Section */

.header {
    color: white;
    margin: 0;
    background-color: #444444;
}

/* Navigation bar */

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-title {
    margin-right: auto;
}

.nav-bar {
    background-color: #DA0037;

}

/* About us */

.website-intro {   
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary-title {
    font-size: 44px;
}

.summary > button {
    padding: 8px 28px;
    border-radius: 10px;
    font-weight: bold;
    border: 0;
    color: white;
    background-color: #3E8EDE;
}

/* Menu Items */

.menu-title {
    text-align: center;
    margin: 50px;
    font-weight: bolder;
}

.menu-items {
    display: flex;
    justify-content: center;
    flex: auto;
    gap: 64px;
    margin: 50px;
}

.food-item {
    display: flex;
    flex-direction: column;
    width: 250px;
    flex: 0 1 auto;
}

.food-item img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

/*  Testimonials */

.container {
    display: flex;
    flex-direction: column;
}

.testimonials {
    background-color: #EDEDED;
    padding: 100px 250px;
}

.quote-text {
    font-size: 28px;
    font-weight: lighter;
    font-style:italic;
    margin: 0;
}

.happy-customer {
    margin: 8px;
    align-self: flex-end;
    font-weight: bold;
}

/* Sign Up */

.sign-up-box {
    display: flex;
    background-color: #3E8EDE;
    color: white;
    margin: 75px 0;
    border-radius: 5px;
    padding: 25px 50px;
    flex-grow: 0;
}

.sign-up-text > h3, .sign-up-text > p {
    margin: 2px;
}

.sign-up-box > button {
    color: white;
    border: 1px solid white;
    margin-left: auto;
    background-color: #3E8EDE;
    border-radius: 10px;
    padding: 8px 28px;
    align-self: center;
}

/* Footer */

.footer {
    display: flex;
    background-color: #171717;
    color: white;
    justify-content: center;
    padding: 30px;
    margin-top: auto;
}